*.dll
*.pdb
*.json
Malgorithms.UnitTests/bin/Debug/net5.0/testhost.exe
Malgorithms.UnitTests/obj/Malgorithms.UnitTests.csproj.nuget.g.props
Malgorithms.UnitTests/obj/Malgorithms.UnitTests.csproj.nuget.g.targets
Malgorithms.UnitTests/obj/project.nuget.cache
Malgorithms.UnitTests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Malgorithms.UnitTests/obj/Debug/net5.0/Malgorithms.UnitTests.AssemblyInfo.cs
Malgorithms.UnitTests/obj/Debug/net5.0/Malgorithms.UnitTests.AssemblyInfoInputs.cache
Malgorithms.UnitTests/obj/Debug/net5.0/Malgorithms.UnitTests.assets.cache
Malgorithms.UnitTests/obj/Debug/net5.0/Malgorithms.UnitTests.csproj.AssemblyReference.cache
Malgorithms.UnitTests/obj/Debug/net5.0/Malgorithms.UnitTests.csproj.CopyComplete
Malgorithms.UnitTests/obj/Debug/net5.0/Malgorithms.UnitTests.csproj.CoreCompileInputs.cache
Malgorithms.UnitTests/obj/Debug/net5.0/Malgorithms.UnitTests.csproj.FileListAbsolute.txt
Malgorithms.UnitTests/obj/Debug/net5.0/Malgorithms.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
Malgorithms.UnitTests/obj/Debug/net5.0/Malgorithms.UnitTests.genruntimeconfig.cache
Malgorithms/.vs/Malgorithms/DesignTimeBuild/.dtbcache.v2
Malgorithms/.vs/Malgorithms/v16/.suo
Malgorithms/.vs/Malgorithms/v16/TestStore/0/001.testlog
Malgorithms/.vs/Malgorithms/v16/TestStore/0/testlog.manifest
Malgorithms/obj/Malgorithms.csproj.nuget.g.props
Malgorithms/obj/Malgorithms.csproj.nuget.g.targets
Malgorithms/obj/project.nuget.cache
Malgorithms/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Malgorithms/obj/Debug/net5.0/Malgorithms.AssemblyInfo.cs
Malgorithms/obj/Debug/net5.0/Malgorithms.AssemblyInfoInputs.cache
Malgorithms/obj/Debug/net5.0/Malgorithms.assets.cache
Malgorithms/obj/Debug/net5.0/Malgorithms.csproj.AssemblyReference.cache
Malgorithms/obj/Debug/net5.0/Malgorithms.csproj.CoreCompileInputs.cache
Malgorithms/obj/Debug/net5.0/Malgorithms.csproj.FileListAbsolute.txt
Malgorithms/obj/Debug/net5.0/Malgorithms.csproj.GenerateResource.cache
Malgorithms/obj/Debug/net5.0/Malgorithms.GeneratedMSBuildEditorConfig.editorconfig
Malgorithms/obj/Debug/net5.0/Malgorithms.Resources.StandardText.resources
Malgorithms/.vs/Malgorithms/v16/TestStore/0/000.testlog
